/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  width: 100wh;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Utilities */

.btn {
  color: white;
  font-size: 0.8em;
  padding: 5px 5px;
  margin-left: 5px;
  background-color: #4a4a4a;
}

.btn.btn-listener {
  color: white;
  font-size: 0.8em;
  margin-left: 0px;
  padding: 5px 5px;
  background-color: rgba(74, 74, 74, 0.8);
}

/* Header */

header {
  background-color: #000;
  height: 80px;
  padding: 5px 10px;
}

.speaker-option {
  display: flex;
  justify-content: flex-end;
}

/* Main */

main {
  background-color: #000;
}

.listener-camera {
  background-image: url(https://picsum.photos/200/300);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  flex-basis: 250px;
  position: relative;
  margin: 10px 5px;
}

.listener-camera .btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
